.group-list {
  display: inline-flex;
  flex-direction: column;
  background-color: lightcyan;
  border-radius: 10px;
  max-height: calc(100vh - 300px);
  overflow: auto;
}

.extra-padding {
  padding-left: 20px !important;
  padding-right: 20px !important;
}