.list-item-text {
  padding: 0 15px 0 0;
  min-width: 150px;
}

.task-item {
  background-color: lightblue;
  border-radius: 10px;
  margin: 2px 0 2px 0;
}

.edit-button {
  position: absolute;
  right: 10px;
  bottom: 5px;
}

.remove-button {
  position: absolute;
  right: 10px;
  top: 5px;
}

.drag-handle {
  margin-right: 20px;
  cursor: ns-resize;
}

.completed-task-item {
  text-decoration: line-through;
  text-decoration-color: rgba(95, 99, 104, 0.7);
  color: #5F6368;
}