.button-container {
  margin: 0 0 0 16px;
}

.group-name-text {
  margin: 0 16px 0 0;
}

.title {
  text-align: center;
  margin: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}