.button-container {
  margin: 0 0 0 16px;
}

.backup-buttons {
  margin-right: 16px;
}

.title {
  text-align: center;
  margin: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.app-bar {
  font-size: 26px;
  text-align: center;
  display: inline-flex;
  flex-direction: row !important;
  justify-content: space-between;
  align-items: center;
}