.mainContent {
  margin: 0 auto;
  text-align: center;
}

.todoItem {
  background-color: lightblue;
  border-radius: 10px;
  margin: 2px 0 2px 0;
}

.todoItemsList {
  display: inline-flex;
  flex-direction: column;
  background-color: lightcyan;
  border-radius: 10px;
  max-height: 70vh;
  overflow: auto;
}