.backup-modal-content {
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 16px;
}

.error-text {
  color: #d43b3b;
}

.load-button {
  margin-right: 10px !important;
}

.hidden {
  display: none;
}

h1 {
  display: block;
  font-size: 20px;
}

textarea {
  resize: none;
  height: 100px;
}